# For use with the symmetry_submission bash scripts
export ENC_DB="<path to the EncoMPASS database>"
export ENC_DB_INSTRUCT="<path to instruction file for building EncoMPASS>"
export LOCUSTS_TMP="path to temporary folder for storing locusts files"
export PYTHON_ENV="path to python environment, e.g. .venv/bin/activate"

# For use with encompass.site_db
export SQL_DB_NAME="<database name>"
export SQL_DB_HOST="<host>"
export SQL_DB_PORT="<port>"
export SQL_DB_USER="<user name>"